spring:
  application:
    name: TaggingImage
server:
  port: 8659
com:
  huhaorui:
    taggingimage:
      accesskeyid: keyid
      accesskeysecret: keysecret
      oss:
        path: oss-cn-shanghai-internal.aliyuncs.com
        bucket: tagging-image